<h1><%= @current_survey.title %></h1>
<hr></hr>
<br>

<div id="editing_confirmation">
  <h3>WARNING! Editing this survey "<%= @current_survey.title %>" after responses have been taken will make your statistics incorrect.</h3>
  <h3>Are you sure you want to continue?</h3>
  <br>
  <button id="survey_edit_confirm_button">Confirm</button>
  <br><br>
</div>

<div class="title_edit">
  <form id="edit_title_form" method="POST" action="/surveys/<%= @current_survey.id %>">
    <input type="hidden" name="_method" value="put"/>
    <input type="text" name="title" value="<%= @current_survey.title %>">
    <input type="submit" value="Save Title Edit">
  </form>
</div>

<div class="question-answer">

  <% @current_survey.questions.each do |question| %>

  <%= erb :"surveys/_saved_question", locals: { question: question } %>

<% end %>

<p><br><br><a id="survey_edit_home_button" href="/surveys">Return to Home</a></p>
</div>


