<h3 id="greeting">Hello, <%= @user.username %>!</h3>
<hr></hr>
<br>

<a id="create-survey-button" href="/surveys/new" class="btn"><span>Create a New Survey</span></a>


  <!-- <div id="survey-table-container"> -->
    <table id="survey-view">
      <tr>
        <th>Created Surveys</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @user.surveys.each do |survey| %>
      <tr>
          <td id="fixed-width"><%=survey.title%></td>
          <td><a class="manipulate-survey-buttons" href="/surveys/<%= survey.id %>/edit">Edit</a></td>
          <td>
            <form action="/surveys/<%= survey.id %>" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <input class="manipulate-survey-buttons" type="submit" value="Delete">
            </form>
          </td>
          <!-- Kevin Sunday Edit: There was a pound sign right after "survey_key=" that made the comparison on the controller side not work -->
          <td><a class="manipulate-survey-buttons" href="/surveys/<%= survey.id %>/share?survey_key=<%= survey.random_code %>">Share</a></td>
          <td><a class="manipulate-survey-buttons" href="/surveys/<%= survey.id %>/stats">Stats</a></td>
        <%end%>
      </tr>
    </table>

  <!-- </div> -->
