<h2> Surveys Created </h2>
<hr></hr>
<br>

<a id="create-survey-button" href="/surveys/new" class="btn"><span>Create a New Survey</span></a>


  <!-- <div id="survey-table-container"> -->
    <table id="survey-view">
      <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Share</th>
        <th>Stats</th>
      </tr>
      <% @user.surveys.each do |survey| %> <!-- Kevin Edit -->
      <tr>
        <td><a href="/surveys/<%=survey.id%>"><%=survey.title%></a>
          <td><a href="/surveys/<%=survey.id%>/edit">edit</a></td>
          <td><a href="/surveys/<%= survey.id %>/share?survey_key=<%= survey.random_code %>">share</a></td>
          <td><a href="/surveys/<%= survey.id %>/stats">stats</a></td>
        <%end%>
      </tr>
    </table>
  <!-- </div> -->

</div>
