<!-- Kevin Edit -->

<div class="survey_layout">
  <h1><%= @survey.title %></h1>

  <% if session[:user_id] %>
    <p>Share your survey using this unique url: "/surveys/<%= @survey.id %>/share?survey_key=<%= @survey.random_code %>"</p>
  <% end %>

  <form method="POST" action="/responses">
    <% @survey.questions.each do |question| %>
    <h3><%= question.query %></h3>
    <% question.answers.each do |answer| %>
    <input type="radio" name=<%= question.id %> value=<%= answer.id %>><%= answer.choice %>
    <% end %>
    <br>
    <% end %>
    <br>
    <input type="submit" value="Submit Response">
  </form>
</div>
